# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: Python, R, and Scala

****Objectives:****
- List popular languages for Data Science>
- List commonly used libraries in Data Science
- Evaluate arithmetic expressions

Some of the commonly used libraries used by Data Scientists include: Pandas, Numpy,  Seaborn

|Data Science Tools|
|:----------------:|
|Jupyer Notebooks  |
|RStudio           |
|VisualStudio      |

### Below are a few examples of evaluating arithmetic expressions in Python
--------------------------------------------------------------------------

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
T= 200/60
print(T)

3.3333333333333335

## Author
Daniel Estrada